/*@font-face {
  font-family: solonFont;
  src: url(../fonts/Klavika-Regular.otf);
}*/

* {
  /*font-family: solonFont, "Courier New", Courier, monospace;*/
  font-family: 'Raleway', sans-serif;
}

dl {
  padding-right: 25px;
  padding-left: 30px;
}

dt {
  text-align: left;
}

dd {
  max-width: 90%;
  text-align: left;
  margin-top: 2px;
}

.solontypur {
  color: #eb8b41;
}

.padd {
  padding-left: 14px;
}

.mja {
  margin-left: -20px;
}

.mainCont {
  /*background: rgba(0, 0, 0, 0.6);*/
  margin-top: -20px;
  padding-top: 20px;
}

.solonprice {
  float: right;
}

.descr {
  font-size: 10pt;
  display: inline-block;
}

.swapp {
  background: rgba(0, 0, 0, 0.6);
  margin-right: -35px;
  margin-left: -35px;
}

#solonH1{
  font-size: 32pt;
  letter-spacing: 5px;
}

.solonCenter {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-left: 0;
}

#solonLang {
  color: white;
  margin-right: 55px; 
}

#solonLang:hover {
  color: #D47D3A;
}

#solonSocial {
  margin-top: 20px;
  color: lightgray;
  margin-right: 2px;
}

#solonSocial:hover {
  color: #D47D3A;
}

#solonLang:hover {
  cursor: pointer;
}

.solonFood {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.solonBanner {
  height: 140px;
  /*background-color: #3D3F3C;*/
  margin-right: 0;
}

#solonLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  border-radius: 5px;
}

#solonText {
  text-align: left;
  font-size: 12pt;
  font-weight: lighter;
}

.hours {
	border-left: 2px solid gray;
}

.solonIcon {
	padding-top: 10px;
	font-size: large;
	height: 40px;
	text-align: right;
}

.swapp {
	padding-bottom: 1px;
}

//////////////////////////////////////////////////////////////////////////

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  /*background-color: #3D3F3C;*/
  background-image: url("SolonBackground.png");
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  //margin-bottom: 10px;
  text-transform: uppercase;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  margin: 0 auto 2% auto;
  text-align: center;
  text-transform: uppercase;
  padding-top: 19px;
  color: #929292;
  border-top: 1px solid #D47D3A;
  /*background-color: #3D3F3C;*/
  background: rgba(0, 0, 0, 0.6);

}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: #2C2D2B;;
  color: white;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    //margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Removein navbar brand */

.navbar-brand {
  display: none !important;
}

/* Navbar - http://work.smarchal.com/twbscolor/ */

.navbar-default {
  letter-spacing: 1px;
  font-size: 12pt;
  /*background-color: #3D3F3C;*/
  background: rgb(0, 0, 0) transparent;   /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.6); 
  border-color: #D47D3A;
  border-right: none;
  border-left: none;
  border-radius: 0;
}
.navbar-default .navbar-brand {
  color: #eb8b41;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #eb8b41;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #eb8b41;
  animation: colorfade 0.3s ;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2C2D2B;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #eb8b41;
  background-color: #2C2D2B;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2C2D2B;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #eb8b41;
  background-color: #2C2D2B;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  color: #eb8b41;
  background-color: #2C2D2B;
}
.navbar-default .navbar-toggle {
  border-color: #2C2D2B;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #2C2D2B;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  /*border-color: #ffffff;*/
  margin-left: 10%;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #eb8b41;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eb8b41;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, 
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, 
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eb8b41;
    background-color: #3d3f3c;
  }
}