<div class="jumbotron">
  <h1 id="solonH1" translate="index.About">Um okkur</h1>
  <hr>
  <div class="row">
  	<div>
  	</div>
  	<div class="col-sm-12">
      <div ng-show="isFood || isFood == undefined">
    		<p id="solonText">
  		  	Solon Bistro býður upp á smárétti, salöt, hamborgara, samlokur og kjötrétti auk þess sem fiskur dagsins er ávallt nýveiddur úr sjó.
  		  	</br></br>
  			Sólon Bistro hefur skapað sér orð sem einn vinsælasti veitingastaður landsins og er að finna í hjarta höfuðborgarinnar, efst í Bankastræti rétt fyrir neðan Skólavörðustíginn.
  			</br></br>
  			Húsið sem geymir Solon Bistro hefur verið haldið í upphaflegu útliti sem gefur veitingastaðnum mjög sterkan, fallegan og rómantískan svip. Neðri hæðin tekur 80 manns í sitjandi borðhald. Efri hæðin er til leigu fyrir veislur og aðra viðburði, nánari upplýsingar <a href="#/venue">hér</a>.
  			</br></br>
  			Vínseðill Solon Bistro er einnig mjög fjölbreyttur og má finna vín frá helstu vínhéruðum heimsins. Kokkteilar og snafsar af öllum toga má fá á Solon Bistro.
  			</br></br>
  			Vertu velkominn!
  		  </p>
      </div>
  	</div>
    <div class="col-sm-12">
      <div ng-show="!isFood && isFood != undefined"> 
        <p id="solonText">
        Sólon Bistro offers great variety of small courses, salads, hamburgers, sandwiches and meats in addition to fresh fish daily.
        </br></br>
        Sólon Bistro has made itself a reputation as one of Reykjavík’s most popular restaurant and is found in the heart of the capital, at the top of Bankastræti right below Skólavörðustígur.
        </br></br>
        The house Sólon resides in still has the original interior which gives the restaurant a very vibrant, beautiful and romantic atmosphere. The ground floor allows 80 guests in-seat dining. The top floor is for rent and more information on the venue can be found <a href="#/venue">here</a>.
        </br></br>
        Our wine menu is very versatile and on it you will find wines from most of the worlds renowned vineyards. Cocktails and snaps of all sorts can be found at Sólon Bistro.
        </br></br>
        Always welcome!
        </p>
      </div>
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1739.8299857146742!2d-21.933684200000016!3d64.14676179999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48d674cd5645c549%3A0x7ef837e150267dc2!2zU8OzbG9u!5e0!3m2!1sen!2sis!4v1439253881110" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>