<div class="jumbotron">
  <h1 id="solonH1" translate="index.About">Um okkur</h1>
  <hr>
  <div class="row">
  	<div>
  		<!-- kannski -->
  	</div>
  	<div class="col-sm-12">
  		<p id="solonText">
		  	Solon Bistro býður upp á tapas- og smárétti, hamborgara og samlokur auk þess sem fiskur dagsins er ávallt nýveiddur úr sjó.
		  	</br></br>
			Sólon Bistro hefur skapað sér orð sem einn vinsælasti veitingastaður landsins og er að finna í hjarta höfuðborgarinnar, efst í Bankastræti rétt fyrir neðan Skólavörðustíginn.
			</br></br>
			Húsið sem geymir Solon Bistro hefur verið haldið í upphaflegu útliti sem gefur veitingastaðnum mjög sterkan, fallegan og rómantískan svip. Neðri hæðin tekur 80 manns í sitjandi borðhald og efri hæðin getur tekið 130 manns í standandi veislu og 75 manns í sitjandi borðhald. Þar er einnig hljóðkerfi, sem hægt er að tengja mixer við fyrir trúbador og minni tónlistarflutning, tjald og myndvarpi, sem hægt er að tengja við tölvu fyrir ráðstefnur og kynningar.
			</br></br>
			Vínseðill Solon Bistro er einnig mjög fjölbreyttur og má finna vín frá helstu vínhéruðum heimsins. Kokkteilar og snafsar af öllum toga má fá á Solon Bistro.
			</br></br>
			Vertu velkominn!
		  </p>
  	</div>
  	<div>
      <img src="images/freeWifi.png" style="width: 50px; height: auto;">
    </div>
  </div>
</div>