<div class="jumbotron" ng-controller="MainCtrl">
  <h1 id="solonH1" translate="index.Food">Matur</h1>
  <hr>

  <div ng-show="isFood || isFood == undefined">
    <h3>Smáréttir</h3>
    <dl>
     <dt>
        Risa Hörpuskel
        <span class="solonprice"> 1.990 kr</span>
      </dt>
      <dd>
       <div>með appelsínusósu og sesam fræjum, teriyakisósu og salati</div>
        </br>
      </dd>
      <dt>
        Nauta Teriyaki 
        <span class="solonprice"> 1.890 kr</span>
      </dt>
      <dd>
       <div>í hvítlaukssósu, sætri chilisósu og salati</div>
        </br>
      </dd>
    </dl>
    <img class="img-responsive solonFood" src="images/Food1IS.png" alt="Matsedill">
    <img class="img-responsive solonFood" src="images/Food2IS.png" alt="Matsedill">
  </div>
  <div ng-show="!isFood && isFood != undefined"> 
    <img class="img-responsive solonFood" src="images/Food1EN.png" alt="Matsedill">
    <img class="img-responsive solonFood" src="images/Food2EN.png" alt="Matsedill"> 
  </div>
</div>