<div class="jumbotron" ng-controller="MainCtrl">
  <h1 id="solonH1" translate="index.Food">Matur</h1>
  <hr>

  <div ng-show="isFood || isFood == undefined">
    <h3 class="solontypur">Smáréttir</h3>
    <dl>
     <dt>
        Risa Hörpuskel
        <span class="solonprice"> 1.990 kr</span>
      </dt>
      <dd>
       <div>með appelsínusósu og sesam fræjum, teriyakisósu og salati</div>
        </br>
      </dd>
      <dt>
        Nauta Teriyaki 
        <span class="solonprice"> 1.890 kr</span>
      </dt>
      <dd>
       <div>í hvítlaukssósu, sætri chilisósu og salati</div>
        </br>
      </dd>
      <dt>
        Nauta Carpaccio
        <span class="solonprice"> 2.790 kr</span>
      </dt>
      <dd>
       <div>borið fram með sólþurrkuðum tómötum, klettasalati og parmesanosti</div>
        </br>
      </dd>
      <dt>
        Camembert
        <span class="solonprice"> 2.390 kr</span>
      </dt>
      <dd>
       <div>djúpsteiktur camembert með stökku brauði, bláberjasultu og salati</div>
        </br>
      </dd>
      <dt>
        Heitt Andasalat
        <span class="solonprice"> 2.390 kr</span>
      </dt>
      <dd>
       <div>með appelsínum, kasjú hnetum og sojadressingu</div>
        </br>
      </dd>
      <dt>
        Hot Wings
        <span class="solonprice"> 2.390 kr</span>
      </dt>
      <dd>
       <div>með heimalagaðri hot wings- og gráðostasósu</div>
        </br>
      </dd>
      <h3 class="solontypur">Súpur</h3>
      <dt>
        Súpa dagsins
        <span class="solonprice"> 1.690 kr</span>
      </dt>
      <dd>
       <div>vinsamlegast spyrjið þjóninn</div>
        </br>
      </dd>
      <dt>
        Sjávarréttasúpa Sólon
        <span class="solonprice"> 3.390 kr</span>
      </dt>
      <dd>
       <div>saffran kókosrjómalöguð súpa með ferskum fisk, hörpuskel, rækjum og kræklingi</div>
        </br>
      </dd>
      <dt>
        Íslensk Kjötsúpa
        <span class="solonprice"> 2.990 kr</span>
      </dt>
      <dd>
       <div>heimalöguð kjötsúpa</div>
        </br>
      </dd>
      <h3 class="solontypur"> Salöt </h3>
      <dt>
        Kjúklingasalat
        <span class="solonprice"> 2.790 kr</span>
      </dt>
      <dd>
       <div>grilluð kjúklingabringa á salatbeði með furuhnetum, geitaosti og jarðaberjum</div>
        </br>
      </dd>
      <dt>
        Humarsalat
        <span class="solonprice"> 3.290 kr</span>
      </dt>
      <dd>
       <div>á salatbeði með papriku, brauðteningum, hægelduðu eggi og hvítlauksdressingu</div>
        </br>
      </dd>
      <dt>
        Caesarsalat
        <span class="solonprice"> 2.890 kr</span>
      </dt>
      <dd>
       <div>grilluð kjúklingabringa með romansalati, beikoni og parmesanosti</div>
        </br>
      </dd>
      <dt>
        Grískt salat
        <span class="solonprice"> 2.290 kr</span>
      </dt>
      <dd>
       <div>salat borið fram með eplum, ólífum, fetaosti og sítrusdressingu</div>
        </br>
      </dd>
      <h3 class="solontypur">Barnaréttir</h3>
      <dt>
        Aðalréttur ásamt frönskum kartöflum
        <span class="solonprice"> 1.390 kr</span>
      </dt>
      <dd>
       <div>Samloka, hamborgari, pizza eða spaghetti</div>
        </br>
      </dd>
      <h3 class="solontypur">Hamborgarar & samlokur</h3>
      <dt>
        Beikon hamborgari
        <span class="solonprice"> 2.190 kr</span>
      </dt>
      <dd>
       <div>með salati, stökku beikoni, osti og Sólon hamborgarasósu</div>
        </br>
      </dd>
      <dt>
        BBQ hamborgari
        <span class="solonprice"> 2.190 kr</span>
      </dt>
      <dd>
       <div>með osti, súrum gúrkum, rauðlauk, tómötum og heimalagaðri BBQ sósu</div>
        </br>
      </dd>
      <dt>
        Ofurhamborgari
        <span class="solonprice"> 2.990 kr</span>
      </dt>
      <dd>
       <div>200 gr nautahamborgari með steiktu eggi, sveppum, lauk, osti, salati og bernaissósu</div>
        </br>
      </dd>
      <dt>
        Sólon Special
        <span class="solonprice"> 2.990 kr</span>
      </dt>
      <dd>
       <div>200 gr nautahamborgari með bræddum camembert, rauðlaukssultu og piparrótarsósu</div>
        </br>
      </dd>
      <h3 class="solontypur">Aðalréttir</h3>
      <dt>
        Fiskur dagsins
        <span class="solonprice"> 3.790 kr</span>
      </dt>
      <dd>
       <div>ferskur af markaðnum</div>
        </br>
      </dd>
      <dt>
        Fiskur & franskar
        <span class="solonprice"> 2.990 kr</span>
      </dt>
      <dd>
       <div>stökk ýsa með tartarsósu, krullufrönskum og salati</div>
        </br>
      </dd>
      <dt>
        Hrefnusteik
        <span class="solonprice"> 3.990 kr</span>
      </dt>
      <dd>
       <div>með steiktu grænmeti, grænpiparsósu og krullufrönskum</div>
        </br>
      </dd>
      <dt>
        Saltaður þorskhnakki
        <span class="solonprice"> 4.290 kr</span>
      </dt>
      <dd>
       <div>með basiliku, möndlum, grænmeti og sítrónuhumarsoði</div>
        </br>
      </dd>
      <dt>
        Sesamsteiktur lax
        <span class="solonprice"> 3.990 kr</span>
      </dt>
      <dd>
       <div>með stökkum kartöflum, grænmetisblöndu, mangósalsa og saffran kókosseyði</div>
        </br>
      </dd>
      <dt>
        Lambakóróna
        <span class="solonprice"> 4.690 kr</span>
      </dt>
      <dd>
       <div>með beikon-kartöflumús, steiktu grænmeti og bláberja-lambagljáa</div>
        </br>
      </dd>
      <dt>
        Rib Eye
        <span class="solonprice"> 4.790 kr</span>
      </dt>
      <dd>
       <div>250 gr grilluð nautasteik með steiktu grænmeti, krullufrönskum og bernaissósu </div>
        </br>
      </dd>
      <dt>
        Nautalund
        <span class="solonprice"> 5.290 kr</span>
      </dt>
      <dd>
       <div>með steiktu grænmeti, hvítlauk, nauta-soðgljáa og kartöflusalati</div>
        </br>
      </dd>
      <dt>
        Svínalund
        <span class="solonprice"> 4.590 kr</span>
      </dt>
      <dd>
       <div>með hunangssinneps-gljáa, kartöflumús, steiktu grænmeti og heimalagaðri BBQ sósu</div>
        </br>
      </dd>
      <dt>
        Kjúklingabringa
        <span class="solonprice"> 2.990 kr</span>
      </dt>
      <dd>
       <div>með sterku couscous, steiktu grænmeti og soðsósu</div>
        </br>
      </dd>
    </dl>
    <!-- <img class="img-responsive solonFood" src="images/Food1IS.png" alt="Matsedill">
    <img class="img-responsive solonFood" src="images/Food2IS.png" alt="Matsedill"> -->
  </div>
  <div ng-show="!isFood && isFood != undefined"> 
    <img class="img-responsive solonFood" src="images/Food1EN.png" alt="Matsedill">
    <img class="img-responsive solonFood" src="images/Food2EN.png" alt="Matsedill"> 
  </div>
</div>