<div class="jumbotron">
  <h1 id="solonH1" translate="index.Open">Opnunartími</h1>
  <hr>
  <div class="row solonCenter">
  	<span class="col-sm-2 glyphicon glyphicon-time solonIcon"></span>
  	<p class="col-sm-10 hours" id="solonText" alt="Kitchen"> 
  		{{ 'open.SunThu' | translate }} 08:00 - 23:00
  		<br>
  		Fös - Lau 08:00 - 01:00
  	</p>
  </div>
  <div class="row solonCenter">
  	<span class="col-sm-2 glyphicon glyphicon-cutlery solonIcon" alt="Eldhús"></span>
  	<p class="col-sm-10 hours" id="solonText"> 
  		Mán - Fös 08:00 - 23:00
  		</br>
  		Fös - Lau 10:00 - 23:00
  	</p>
  </div>
  <div class="row solonCenter">
  	<span class="col-sm-2 glyphicon glyphicon-glass solonIcon"></span>
  	<p class="col-sm-10 hours" id="solonText"> 
  		Mán - Fös 16:00 - 18:00
  		</br>
  		&nbsp;
  	</p>
  </div>
</div>