<div class="jumbotron">
  <h1 id="solonH1" translate="index.RentVenue">Veislusalur</h1>
  <hr>
  <div ng-show="isFood || isFood == undefined">
  <img  class="img-responsive" src="../images/solon_venue.jpg" />
  	<p id="solonText">
  	</br></br>
		Efri hæð Sólon tekur 130 manns í standandi veislu og 85 manns í sitjandi borðhald. 
		</br></br>
		Á hæðinni er hljóðkerfi, sem hægt er að tengja mixer við fyrir trúbador og minni tónlistarflutning, myndvarpi og tjald, hægt er að tengja tölvu, myndbandstæki, dvd við myndvarpa og hljóðkerfi. Míkrafónn er til staðar í húsinu. 
		</br></br>
		Á hæðinni er bar, ásamt kaffivél, fatahengi og svölum sem horfa yfir gatnamót Laugarvegs, Skólavörðustígs, Ingólfsstrætis og Bankastræti
		</br></br>
		Salurinn er leigður með veitingum. Þegar þú hefur samband förum við yfir hvað myndi best henta þínum viðburði.
		</br></br>
		Ef þú hefur áhuga á því að leigja fallega salinn okkar hafðu þá endilega samband í síma 562-3232 eða með tölvupósti á solon@solon.is og við svörum eins og fljótt og auðið er.
	</p>
  </div>
  <div ng-show="!isFood && isFood != undefined"> 
  <img  class="img-responsive" src="../images/solon_venue.jpg" />
  	<p id="solonText">
  	</br></br>
	 	The top floor at Sólon Bistro takes 130 people for standing events and 85 for in-seat dining. 
		</br></br>
		In the venue you have access to a sound system that can be connected to a mixer for troubadours and other small musical performances. Overhead projector and screen that can be connected to computers, VCR's and DVD players. A microphone is also available if needed.
		</br></br>
		On this floor there is a bar, coffee machine, coat hanger and balcony overlooking crossroads of Laugarvegur, Skólavörðustígur, Ingólfsstræti and Bankastræti.
		</br></br>
		The venue is rented with refreshments. Please contact us to discuss what to serve.
		</br></br>
		If you are interested in renting our beautiful venue please contact us by calling 562-3232 or via our email solon@solon.is and we will respond as soon as possible.
  	</p>
  </div>
</div>