<div class="jumbotron">
  <h1 id="solonH1" translate="index.RentVenue">Veislusalur</h1>
  <hr>
  <div>
  	<p id="solonText">
		Efri hæð Sólon tekur 130 manns í standandi veislu og 85 manns í sitjandi borðhald. 
		</br></br>
		Á hæðinni er hljóðkerfi, sem hægt er að tengja mixer við fyrir trúbador og minni tónlistarflutning, myndvarpi og tjald, hægt er að tengja tölvu, myndbandstæki, dvd við myndvarpa og hljóðkerfi.   
		</br></br>
		Míkrafónn er til staðar í húsinu.  Á hæðinni er bar, ásamt kaffivél, svölum og fatahengi.
		</br></br>
		Salurinn er leigður með veitingum.
		</br></br>
		Leigutími um helgar er frá kl 20.00.
		Leigutími á virkum dögum er frá kl 19 - 23
  	</p>
  </div>
  <div></div>
</div>